/* Fonts */

@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  src: local('Staatliches Regular'), local('Staatliches-Regular'), url(https://fonts.gstatic.com/s/staatliches/v3/HI_OiY8KO6hCsQSoAPmtMYebvpCfOMPT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: local('Nunito Italic'), local('Nunito-Italic'), url(https://fonts.gstatic.com/s/nunito/v11/XRXX3I6Li01BKofIMNaDRs7nczIH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito Light'), local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v11/XRXW3I6Li01BKofAnsSUYevIWzgPDA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'), url(https://fonts.gstatic.com/s/nunito/v11/XRXW3I6Li01BKofAksCUYevIWzgPDA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Jomolhari';
  font-style: normal;
  font-weight: 400;
  src: local('Jomolhari Regular'), local('Jomolhari-Regular'), url(https://fonts.gstatic.com/s/jomolhari/v1/EvONzA1M1Iw_CBd2hsQyEFgYCK1YNw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* Universal Styles */

a {
	text-decoration: none;
}

body {
	display: border-block;
	margin: 0px;
	font-family: "Nunito";
}

h1 {
	font-size: 26px;
	font-family: "Staatliches"
}

h2 {
	font-size: 20px;
	font-weight: 800;
}

p {
	font-size: 12px;
	font-family: "Jomolhari";
}

/* Navigation */

nav {
	font-family: "Staatliches";
	letter-spacing: 0.5px;
	position: fixed;
	top: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	height: 80px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.15); 
	z-index: 10;
	background-color: white;
}


nav h1 {
	float: left;
	position: relative;
	left: 20px;
}

nav ul {
	float: right;
	position: relative;
	right: 20px;
}

nav li {
	display: inline-block;
	width: 80px;
	line-height: 2.5;
}

nav a {
	color: #666;
}

.container {
	display: block;
	margin: 10px 80px;
	padding: 20px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
	position: relative;
	top: 150px;
	text-align: center;
}


/* Colors Section */


.color-panel {
	display: inline-block;
	width: 20%;
	margin: 20px auto;
	font-weight: 400;
	text-align: center;
	color: white;
	border-radius: 5px 20px;
}

.green {
	background-color: #DAF7A6;
	color: grey;
}

.gold {
	background-color: #FFC300;
}

.red {
	background-color: #FF5733;
}

.purple {
	background-color: #581845;
}

/* Fonts Section */

.font-panel {
	display: inline-block;
	text-align: left;
	margin: 20px auto;
	width: 40%;
	max-width: 360px;
}

.font-title {
	font-size: 20px;
	text-decoration: underline;
}

.staatliches {
	font-family: "Staatliches";
}

.nunito {
	font-family: "nunito";
}

.Jomolhari {
	font-family: "Jomolhari"
}

.regular {
	font-weight: lighter;
}

.bold {
	font-weight: bolder; 
}

.italic {
	font-style: italic;
}

/* Style Seciton */

.style-panel {
	text-align: left;
}


























